@page "/"

<PageTitle>BlazorGPT</PageTitle>


<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ask me something ...">
  </div>
  <br/>
  <!--<button type="submit" class="btn btn-primary">Submit</button>-->
</form>

@code {

    @* Call the Azure OpenAI rest API and get the response *@

    






}
